{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}

{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> /</div>
        <div class="active section">{{ 'locastic_sylius_store_locator_plugin.ui.store_locator'|trans }}</div>
    </div>

    <h1 class="ui header">
        {{ 'locastic_sylius_store_locator_plugin.ui.store_locator'|trans }}
    </h1>

    {% if resources|length > 0 %}
        <div class="ui stackable grid segment">
            <div class="ui sixteen wide column">
                <div id="map" style="height: 500px;"></div>
            </div>
        </div>

        <div class="ui stackable grid">
            <div class="four twelve column">
                <div class="ui three column stackable grid" id="products">
                    {% for store in resources %}
                        <div class="column">
                            <div class="ui fluid card store-location" itemscope itemtype="http://schema.org/Place" data-lat="{{ store.latitude }}" data-lng="{{ store.longitude }}">
                                <div class="content">
                                    <h3 itemprop="name">
                                        <a href="{{ path('locastic_sylius_store_locator_plugin_shop_store_show', {slug: store.slug}) }}" title="{{ store.name }}">
                                            {{ store.name }}
                                        </a>
                                    </h3>
                                    <p itemprop="address">{{ store.address }}</p>
                                    <p><strong>{{ 'locastic_sylius_store_locator_plugin.ui.contact_email'|trans }}
                                            : </strong>{{ store.contactEmail }}</p>
                                    <p itemprop="telephone">
                                        <strong>{{ 'locastic_sylius_store_locator_plugin.ui.contact_phone'|trans }}
                                            : </strong>{{ store.contactPhone }}</p>
                                    <p>
                                        <strong itemprop="openingHoursSpecification">{{ 'locastic_sylius_store_locator_plugin.ui.opening_hours'|trans }}
                                            : </strong>{{ store.openingHours }}</p>
                                    <a href="{{ path('locastic_sylius_store_locator_plugin_shop_store_show', {slug: store.slug}) }}" title="{{ store.name }}">
                                        {{ 'locastic_sylius_store_locator_plugin.ui.see_more'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="ui stackable grid segment">
            <div class="ui sixteen wide column">
                {{ messages.info('sylius.ui.no_results_to_display') }}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maps.googleapis.com/maps/api/js?key={{ gmap_api_key }}"></script>
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/locasticsyliusstorelocatorplugin/js/app.js'} %}

{% endblock %}