{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}

{% extends '@SyliusShop/layout.html.twig' %}


{% block title %}
    {% if store.metaTitle %}
        {{ store.metaTitle }}
    {% else %}
        {{ store.title }}
    {% endif %}
{% endblock %}

{% block metatags %}
    {% if store.metaKeywords is not empty %}
        <meta name="keywords" content="{{ store.metaKeywords }}"/>
    {% endif %}
    {% if store.metaDescription is not empty %}
        <meta name="description" content="{{ store.metaDescription }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a>
        <div class="divider"> /</div>
        <a href="{{ path('locastic_sylius_store_locator_plugin_shop_store_index') }}"
           class="section">{{ 'locastic_sylius_store_locator_plugin.ui.store_locator'|trans }}</a>
        <div class="divider"> /</div>
        <div class="active section">{{ store.name }}</div>
    </div>

    <h1 class="ui header">
        {{ store.name }}
    </h1>

    <div class="ui two column grid segment">
        <div class="column">
            <div id="map" style="height: 500px;"></div>
        </div>
        <div class="column" id="store-location" itemscope itemtype="http://schema.org/Place" data-lat="{{ store.latitude }}" data-lng="{{ store.longitude }}">
            <p itemprop="address"><strong>{{ 'locastic_sylius_store_locator_plugin.ui.address'|trans }}
                    : </strong> {{ store.address }}</p>
            <p><strong>{{ 'locastic_sylius_store_locator_plugin.ui.contact_email'|trans }}
                    : </strong>{{ store.contactEmail }}</p>
            <p itemprop="telephone">
                <strong>{{ 'locastic_sylius_store_locator_plugin.ui.contact_phone'|trans }}
                    : </strong>{{ store.contactPhone }}</p>
            <p>
                <strong itemprop="openingHoursSpecification">{{ 'locastic_sylius_store_locator_plugin.ui.opening_hours'|trans }}
                    : </strong>{{ store.openingHours|raw }}</p>

            <div itemprop="description">
                {{ store.content|raw }}
            </div>

        </div>

    </div>

    <div class="container-fluid">
        {% if store.images %}
        <h3>
            {{ 'locastic_sylius_store_locator_plugin.ui.images'|trans }}
        </h3>

        <div class="ui four cards">
            {% for storeImage in store.images %}
                <div class="ui fluid card">

                    {% set imagePath = '/media/image/'~storeImage.path %}
                    <img class="ui image dimmable" src="{{ imagePath }}" alt="" height="150px">

                    <div class="content">
                        <h2 class="header">{{ storeImage.type }}</h2>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maps.googleapis.com/maps/api/js?key={{ gmap_api_key }}"></script>
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/locasticsyliusstorelocatorplugin/js/app_show.js'} %}

{% endblock %}